{
  "embeds": [{
    "title": "Drone Proximity Alert",
    "color": 15158332,
    "description": "{{ name_a|json_escape }} and {{ name_b|json_escape }} are {{ distance_str }} apart",
    "fields": [
      {"name": "Drone A", "value": "{{ name_a|json_escape }}", "inline": true},
      {"name": "Drone B", "value": "{{ name_b|json_escape }}", "inline": true},
      {"name": "Distance", "value": "{{ distance_str }}", "inline": true}
    ],
    "timestamp": "{{ timestamp }}"{% if server_url %},
    "url": "{{ server_url }}"{% endif %}
  }]
}
