{
  "embeds": [{
    "title": "Geozone Alert",
    "color": 15158332,
    "description": "{{ name|json_escape }} entered {{ geozone_name|json_escape }}",
    "fields": [
      {"name": "Drone", "value": "{{ name|json_escape }}", "inline": true},
      {"name": "Zone", "value": "{{ geozone_name|json_escape }}", "inline": true}
    ],
    "timestamp": "{{ timestamp }}"{% if server_url %},
    "url": "{{ server_url }}"{% endif %}
  }]
}
